.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fab-btn {
  position: fixed;
  right: 32px;
  bottom: 30px;
  z-index: 2147483640;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}